


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'IndieFlower'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  background-image: url("/Users/larissabrown/Desktop/Development/module-6/urban-harvest/client/src/components/radishes.jpg");
  z-index: 0;
  min-width: 74px
  
}
.App {
  position: relative;
  text-align: center; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10+1vmin);
  min-width: 74px
  

}
.signup-form {
  visibility: visible;
}
.login-form {
  visibility: visible;
}
.hide-container {
  visibility: hidden
}
.home-container{
  display: flex;
  flex-direction: column;
  padding: 1vh
 
}

.farmer-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  
 
}
.publishing-container {
  position: relative;
  display: flex;
  width: 100%;
  color: white;
  margin-left: 30px;
  
}
/* .MuiToolbar-root
.MuiToolbar-regular 
.MuiToolbar-gutters 
.login-container
.signup-container {
  display: flex;
  flex-direction: row;
 
  
  
} */

.containerCurrentHarvests {
  position: relative;
  display: flex;
  
}
.header-text{
  position: relative;
  font-size: 400%;
  margin: 0
}
.no-waste {
  font-size: 150%;
  margin: 0;
  padding: 10px;

}
.title{
  color: black;
  font-weight: bolder
 
}

.currentHarvestText{
 font-size: 200%;
 color: rgb(36, 24, 30);


}
.harvestList {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  
  
}

.harvests {
  display: flex;
  width: 100%;
  
  
}

 .harvestDiv{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0;
 
}
.infoDiv{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 244px;
  height:390px;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 141);
  margin: 5px;
  font-family: 'Indie Flower', cursive;
  border: 5px solid rgb(170, 163, 120);
  z-index: 2
}
.harvestLabel {
  font-size:10;
 
}
textarea#message.message {
  margin: 10px 0px 16px;
}
.farmer {
 
  font-size: 10
}
.harvestMap {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction:column;
  background-color: rgba(255, 255, 255, 0.486);


}
.harvestImg {
  display: relative;
  width: 90%;
  margin-top: 10px;
  z-index: 5;
  margin-bottom: 0;
  border: 5px solid rgb(252, 251, 250);
 
 
}
 .hoverOverlay :hover{
  background-color: rgba(245, 204, 23, 0.671);
  
}
.harvestImg :hover {
  padding: 10px;
}

 
.unsplash-App {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  min-width: 300px;
  background-color: rgb(244, 244, 244);
  color: #333;
  z-index:90;
  font-size: 10px;
  cursor: pointer;
  
}



.unsplash-title {
  font-size: 1.5rem;
  font-family: "Roboto";
  margin-bottom: 5px;
}

.unsplash-form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin:0;
  padding: 0;
}

.unsplash-label {
  font-size: 1.5rem;

 
}

.unsplash-input{
  display: flex;
  position: relative;
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  line-height: 2.8rem;
  background-color: white;
  margin-bottom: 1rem;
}
 .unsplash-button{
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 250ms;
  margin-bottom: 2rem;
}

.unsplash-button:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

.unsplash-card-list {
  column-count: 3;
}

.unsplash-card--image {
  flex: 100%;
  margin-top: 1rem;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .unsplash-form {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    align-items: center;
  }
  .unsplash-input {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 600px) {
    .unsplash-card-list {
        column-count: 1;
    }
}