

.App {
  text-align: center; 
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-size: calc(5+1vmin);
  color: white;
}
.navbar {
  color: rgb(190, 153, 153);
}
.currentHarvests {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 100%
  

}
.harvestDiv {
  display: inline-block;
  width: 100;
  height: 100;
  background-color: orange;
  justify-content: space-around;
}
.harvestLabel {
  font-size:12;
}
 
